In [3]:
import numpy as np
import pandas as pd

In [4]:
def get_data(comm_markets_path, distances_path):
    '''
    A function that pulls in the data from marketcommodities.ini and the flc dump file and scrapes it. 
    +++++++++
    Parameters:
    comm_markets_path (str): the path of market_commodities.ini
    distances_path (str): the path of the flc dump file
    +++++++++
    Returns
    distances (Dataframe): pandas dataframe of all the viable distances between bases
    bases(list of dictonaries): list containing all of the base entries in market_commodities.ini in dictonary 
    form. Dictonaies hold base_code, base_name, and list of commodities traded. 
    comm_set (set): set of all commodities bought or sold on all bases
    base_names (list): all base names
    '''


    distances = pd.read_csv(distances_path, names = ['start', 'end', 'time'])
    distances = distances[distances['start']!=distances['end']]
    distances = distances[distances['time']!=-1]

    with open(comm_markets_path, 'r') as file:
        lines = file.readlines() 
    
    comment_count = 0
    bases = []
    commodities =[]
    for i in lines[2:]:
        if i.lower() == '[basegood]\n' or i == ';EVERYTHING BELOW THIS LINE IS DATABASE.':
            if comment =='':
                comment = base_code
            bases.append({'base_code':base_code, 'Name':comment, 'commodities':commodities})
            commodities=[]
            comment = ''
            comment_count = 0
        if i[:4].lower() == "base":
            base_code = i[7:]
        if i[:1] == ';' and comment_count == 0:
            comment = i
            comment_count+=1
        elif i[:1]==';':
            print(i)
            comment +'\n'+ i
        if i[:10].lower() == 'marketgood':
            t =i[13:].split()
            l = [float(j.strip(',')) for j in t[1:6]]
            l.append(float(t.pop()))
            l.append(t[0])
            commodities.append(l)
    
    comm_set = set([])
    for i in bases: #this loop in loop adds all the commodities to a set so we know how many commodities to display in our applet
        j = i['commodities']
        for k in j:
            comm_set.add(k[6])
    base_names=[i['Name'].strip('\n') for i in bases]
    
    return distances, bases, comm_set, base_names,

In [5]:
def which_sell(commodity_list):
    sells_set = set([])
    for i in bases:
        for k in i['commodities']:
            if k[-1] in commodity_list and k[-3]== 0:
                sells_set.add(i['base_code'])
    l = list(sells_set)
    return [i.strip('\n') for i in l]

In [31]:
path_markets = 'market_commodities.ini'
distances_path = 'dump.csv'

In [32]:
distances, bases, comm_set, base_names = get_data(path_markets, distances_path)

In [126]:
now, suppose we sell a commodity from X bases. sort all the other bases into shortest distance from those bases.

In [138]:
def sort_by_distance(list_of_bases, distances):

297

In [33]:
list_of_bases = ['li01_01_base','rh01_01_base','br01_01_base', 'ku01_01_base', 'ga01_01_base']

In [66]:
k = [distances[distances['start'] == i] for i in list_of_bases]

In [ ]:
drop the things in the list from end

In [163]:
k = [i[~i['end'].isin(list_of_bases)].reset_index() for i in k]

put the dataframes back together, get rid of start and keep the first end (new index) and the times labled as start base

In [183]:
df = pd.DataFrame()
for idx, i in enumerate(list_of_bases):
    df[i]=k[idx]['time']
    
df['base'] = k[0]['end']

In [191]:

g = df.iterrows()
for i in g:

(0, li01_01_base          613767
rh01_01_base          822295
br01_01_base            8396
ku01_01_base          930644
ga01_01_base          971716
base            br01_04_base
Name: 0, dtype: object)
(1, li01_01_base          547640
rh01_01_base          814798
br01_01_base           68277
ku01_01_base          911424
ga01_01_base          952496
base            br01_05_base
Name: 1, dtype: object)
(2, li01_01_base          611624
rh01_01_base          830470
br01_01_base            7046
ku01_01_base          920594
ga01_01_base          961666
base            br01_06_base
Name: 2, dtype: object)
(3, li01_01_base          544251
rh01_01_base          821598
br01_01_base           72373
ku01_01_base          906599
ga01_01_base          947671
base            br01_07_base
Name: 3, dtype: object)
(4, li01_01_base          684300
rh01_01_base          959215
br01_01_base          153287
ku01_01_base          909321
ga01_01_base          950393
base            br01_08_base
Name: 4, dtype: object)
(5, li01_01_base          623517
rh01_01_base          841391
br01_01_base           15503
ku01_01_base          925230
ga01_01_base          966302
base            br05_04_base
Name: 5, dtype: object)
(6, li01_01_base          600879
rh01_01_base          875794
br01_01_base           77008
ku01_01_base          850165
ga01_01_base          891237
base            ga02_09_base
Name: 6, dtype: object)
(7, li01_01_base          672225
rh01_01_base          859233
br01_01_base          113840
ku01_01_base         1037888
ga01_01_base         1078960
base            ga04_05_base
Name: 7, dtype: object)
(8, li01_01_base          538547
rh01_01_base         1102025
br01_01_base          358389
ku01_01_base         1016309
ga01_01_base         1100389
base            ga07_02_base
Name: 8, dtype: object)
(9, li01_01_base          624758
rh01_01_base         1078283
br01_01_base          334647
ku01_01_base         1113423
ga01_01_base         1197503
base            br02_01_base
Name: 9, dtype: object)
(10, li01_01_base          421414
rh01_01_base          938924
br01_01_base          195288
ku01_01_base          945239
ga01_01_base         1052238
base            br02_02_base
Name: 10, dtype: object)
(11, li01_01_base          414632
rh01_01_base          985090
br01_01_base          241454
ku01_01_base          943221
ga01_01_base         1004355
base            br02_03_base
Name: 11, dtype: object)
(12, li01_01_base          369143
rh01_01_base         1010441
br01_01_base          284987
ku01_01_base          897732
ga01_01_base          958866
base            br02_04_base
Name: 12, dtype: object)
(13, li01_01_base          368131
rh01_01_base          990111
br01_01_base          246475
ku01_01_base          891956
ga01_01_base         1092742
base            br02_05_base
Name: 13, dtype: object)
(14, li01_01_base          563489
rh01_01_base         1036669
br01_01_base          293033
ku01_01_base          927587
ga01_01_base         1011667
base            br02_06_base
Name: 14, dtype: object)
(15, li01_01_base             437552
rh01_01_base            1052878
br01_01_base             309242
ku01_01_base             961377
ga01_01_base            1070642
base            br01_hgn01_base
Name: 15, dtype: object)
(16, li01_01_base          614166
rh01_01_base         1051440
br01_01_base          307804
ku01_01_base         1094769
ga01_01_base         1178849
base            br19_01_base
Name: 16, dtype: object)
(17, li01_01_base          705947
rh01_01_base          672349
br01_01_base          174942
ku01_01_base         1074081
ga01_01_base         1115153
base            br03_01_base
Name: 17, dtype: object)
(18, li01_01_base          713690
rh01_01_base          676303
br01_01_base          182685
ku01_01_base         1081824
ga01_01_base         1122896
base            br03_02_base
Name: 18, dtype: object)
(19, li01_01_base          689609
rh01_01_base          671910
br01_01_base          158604
ku01_01_base         1057743
ga01_01_base         1098815
base            br01_02_base
Name: 19, dtype: object)
(20, li01_01_base          847490
rh01_01_base          644595
br01_01_base          316485
ku01_01_base         1215624
ga01_01_base         1256696
base            br03_05_base
Name: 20, dtype: object)
(21, li01_01_base          735073
rh01_01_base          749569
br01_01_base          204068
ku01_01_base         1103207
ga01_01_base         1144279
base            br03_06_base
Name: 21, dtype: object)
(22, li01_01_base          856579
rh01_01_base          760122
br01_01_base          325574
ku01_01_base         1224713
ga01_01_base         1265785
base            br17_01_base
Name: 22, dtype: object)
(23, li01_01_base          581358
rh01_01_base          945828
br01_01_base          145935
ku01_01_base          783023
ga01_01_base          824095
base            ew85_04_base
Name: 23, dtype: object)
(24, li01_01_base          549320
rh01_01_base         1044316
br01_01_base          244423
ku01_01_base          685118
ga01_01_base          726190
base            br03_03_base
Name: 24, dtype: object)
(25, li01_01_base          573776
rh01_01_base          959210
br01_01_base          159317
ku01_01_base          775441
ga01_01_base          816513
base            br04_04_base
Name: 25, dtype: object)
(26, li01_01_base          690266
rh01_01_base          906737
br01_01_base           80392
ku01_01_base          975391
ga01_01_base         1016463
base            br04_03_base
Name: 26, dtype: object)
(27, li01_01_base          727015
rh01_01_base         1008947
br01_01_base          182602
ku01_01_base          876230
ga01_01_base          917302
base            br05_01_base
Name: 27, dtype: object)
(28, li01_01_base          785580
rh01_01_base         1002051
br01_01_base          175706
ku01_01_base         1013180
ga01_01_base         1054252
base            br05_03_base
Name: 28, dtype: object)
(29, li01_01_base          835951
rh01_01_base         1099751
br01_01_base          273406
ku01_01_base          985166
ga01_01_base         1026238
base            br05_05_base
Name: 29, dtype: object)
(30, li01_01_base          698894
rh01_01_base         1089594
br01_01_base          263249
ku01_01_base          848109
ga01_01_base          889181
base            ga02_12_base
Name: 30, dtype: object)
(31, li01_01_base          861812
rh01_01_base         1078283
br01_01_base          251938
ku01_01_base         1098870
ga01_01_base         1139942
base            hi08_01_base
Name: 31, dtype: object)
(32, li01_01_base          879908
rh01_01_base         1252861
br01_01_base          426516
ku01_01_base          773274
ga01_01_base          791709
base            bw15_01_base
Name: 32, dtype: object)
(33, li01_01_base          856605
rh01_01_base         1327197
br01_01_base          500852
ku01_01_base          750028
ga01_01_base          791100
base            br06_02_base
Name: 33, dtype: object)
(34, li01_01_base          800758
rh01_01_base         1308262
br01_01_base          500587
ku01_01_base          694124
ga01_01_base          735196
base            br06_03_base
Name: 34, dtype: object)
(35, li01_01_base          863445
rh01_01_base         1269318
br01_01_base          442973
ku01_01_base          807010
ga01_01_base          848082
base            br06_04_base
Name: 35, dtype: object)
(36, li01_01_base          852930
rh01_01_base         1296300
br01_01_base          469955
ku01_01_base          746296
ga01_01_base          787368
base            ew13_03_base
Name: 36, dtype: object)
(37, li01_01_base          907690
rh01_01_base         1268029
br01_01_base          441684
ku01_01_base          901314
ga01_01_base          846627
base            br09_03_base
Name: 37, dtype: object)
(38, li01_01_base          673051
rh01_01_base         1212430
br01_01_base          468794
ku01_01_base          848323
ga01_01_base          932403
base            br07_05_base
Name: 38, dtype: object)
(39, li01_01_base          691650
rh01_01_base         1158422
br01_01_base          414786
ku01_01_base          894581
ga01_01_base          978661
base            br07_03_base
Name: 39, dtype: object)
(40, li01_01_base          697358
rh01_01_base         1164130
br01_01_base          420494
ku01_01_base          887884
ga01_01_base          971964
base            br07_04_base
Name: 40, dtype: object)
(41, li01_01_base          680779
rh01_01_base         1256531
br01_01_base          491732
ku01_01_base          898796
ga01_01_base          982876
base            br07_07_base
Name: 41, dtype: object)
(42, li01_01_base          738130
rh01_01_base         1302898
br01_01_base          549083
ku01_01_base          799501
ga01_01_base          883581
base            br07_08_base
Name: 42, dtype: object)
(43, li01_01_base          679359
rh01_01_base         1263465
br01_01_base          490312
ku01_01_base          958110
ga01_01_base         1027897
base            br07_09_base
Name: 43, dtype: object)
(44, li01_01_base          680355
rh01_01_base         1263647
br01_01_base          491308
ku01_01_base          959735
ga01_01_base         1028893
base            br09_01_base
Name: 44, dtype: object)
(45, li01_01_base          691272
rh01_01_base         1158044
br01_01_base          414408
ku01_01_base          978783
ga01_01_base         1062863
base            br07_11_base
Name: 45, dtype: object)
(46, li01_01_base          659877
rh01_01_base         1241043
br01_01_base          470830
ku01_01_base          861155
ga01_01_base          945235
base            br19_02_base
Name: 46, dtype: object)
(47, li01_01_base         1057773
rh01_01_base         1310083
br01_01_base          719869
ku01_01_base          692004
ga01_01_base          480667
base            br08_01_base
Name: 47, dtype: object)
(48, li01_01_base         1043072
rh01_01_base         1307883
br01_01_base          636409
ku01_01_base          689804
ga01_01_base          668510
base            br08_02_base
Name: 48, dtype: object)
(49, li01_01_base         1039758
rh01_01_base         1235004
br01_01_base          747369
ku01_01_base          616925
ga01_01_base          595631
base            br08_03_base
Name: 49, dtype: object)
(50, li01_01_base          938140
rh01_01_base         1348719
br01_01_base          531477
ku01_01_base          730640
ga01_01_base          663553
base            br08_05_base
Name: 50, dtype: object)
(51, li01_01_base         1069066
rh01_01_base         1308547
br01_01_base          705952
ku01_01_base          690468
ga01_01_base          491960
base            ga06_10_base
Name: 51, dtype: object)
(52, li01_01_base         1087409
rh01_01_base         1286936
br01_01_base          697459
ku01_01_base          668857
ga01_01_base          510303
base            ew13_07_base
Name: 52, dtype: object)
(53, li01_01_base          851561
rh01_01_base         1358765
br01_01_base          615129
ku01_01_base          987010
ga01_01_base         1071090
base            br07_02_base
Name: 53, dtype: object)
(54, li01_01_base          763428
rh01_01_base         1270632
br01_01_base          526996
ku01_01_base          898877
ga01_01_base          982957
base            br07_06_base
Name: 54, dtype: object)
(55, li01_01_base          564645
rh01_01_base         1205943
br01_01_base          492535
ku01_01_base         1088470
ga01_01_base         1332420
base            br13_01_base
Name: 55, dtype: object)
(56, li01_01_base          808277
rh01_01_base         1366499
br01_01_base          622863
ku01_01_base         1108926
ga01_01_base         1193006
base            br14_01_base
Name: 56, dtype: object)
(57, li01_01_base          692902
rh01_01_base         1334200
br01_01_base          620792
ku01_01_base         1216727
ga01_01_base         1331799
base            ga07_08_base
Name: 57, dtype: object)
(58, li01_01_base          786077
rh01_01_base         1427375
br01_01_base          713967
ku01_01_base         1204301
ga01_01_base         1288381
base            iw13_04_base
Name: 58, dtype: object)
(59, li01_01_base         1033539
rh01_01_base         1004741
br01_01_base          502534
ku01_01_base         1325858
ga01_01_base         1366930
base            ga05_03_base
Name: 59, dtype: object)
(60, li01_01_base          817075
rh01_01_base          788277
br01_01_base          286070
ku01_01_base         1185209
ga01_01_base         1226281
base            br16_01_base
Name: 60, dtype: object)
(61, li01_01_base          857121
rh01_01_base          828323
br01_01_base          326116
ku01_01_base         1225255
ga01_01_base         1266327
base            br16_02_base
Name: 61, dtype: object)
(62, li01_01_base          812961
rh01_01_base          784163
br01_01_base          281956
ku01_01_base         1181095
ga01_01_base         1222167
base            br16_03_base
Name: 62, dtype: object)
(63, li01_01_base          920322
rh01_01_base         1032558
br01_01_base          386834
ku01_01_base         1069537
ga01_01_base         1110609
base            br22_01_base
Name: 63, dtype: object)
(64, li01_01_base          899582
rh01_01_base          870784
br01_01_base          368577
ku01_01_base         1209437
ga01_01_base         1250509
base            br22_02_base
Name: 64, dtype: object)
(65, li01_01_base          899129
rh01_01_base          870331
br01_01_base          368124
ku01_01_base         1209122
ga01_01_base         1250194
base            br22_03_base
Name: 65, dtype: object)
(66, li01_01_base          864319
rh01_01_base          839376
br01_01_base          333314
ku01_01_base         1232453
ga01_01_base         1273525
base            br04_07_base
Name: 66, dtype: object)
(67, li01_01_base         1027200
rh01_01_base          998402
br01_01_base          496195
ku01_01_base         1316047
ga01_01_base         1357119
base            br07_01_base
Name: 67, dtype: object)
(68, li01_01_base          905857
rh01_01_base          877059
br01_01_base          374852
ku01_01_base         1273991
ga01_01_base         1315063
base            li12_03_base
Name: 68, dtype: object)
(69, li01_01_base          873338
rh01_01_base          552148
br01_01_base          342333
ku01_01_base         1174477
ga01_01_base         1268478
base            bw01_01_base
Name: 69, dtype: object)
(70, li01_01_base          838575
rh01_01_base          519200
br01_01_base          307570
ku01_01_base         1141529
ga01_01_base         1235530
base            bw01_02_base
Name: 70, dtype: object)
(71, li01_01_base          997424
rh01_01_base          521325
br01_01_base          466419
ku01_01_base         1143654
ga01_01_base         1237655
base            bw01_03_base
Name: 71, dtype: object)
(72, li01_01_base          927009
rh01_01_base          532806
br01_01_base          396004
ku01_01_base         1155135
ga01_01_base         1249136
base            bw01_04_base
Name: 72, dtype: object)
(73, li01_01_base          888092
rh01_01_base          472297
br01_01_base          357087
ku01_01_base         1094626
ga01_01_base         1188627
base            bw01_06_base
Name: 73, dtype: object)
(74, li01_01_base          888542
rh01_01_base          473857
br01_01_base          357537
ku01_01_base         1096186
ga01_01_base         1190187
base            bw10_03_base
Name: 74, dtype: object)
(75, li01_01_base          875174
rh01_01_base          553984
br01_01_base          344169
ku01_01_base         1176313
ga01_01_base         1270314
base            br04_02_base
Name: 75, dtype: object)
(76, li01_01_base          959216
rh01_01_base          548484
br01_01_base          428211
ku01_01_base         1170813
ga01_01_base         1264814
base            rh03_06_base
Name: 76, dtype: object)
(77, li01_01_base          965086
rh01_01_base          575209
br01_01_base          434081
ku01_01_base         1197538
ga01_01_base         1291539
base            bw02_01_base
Name: 77, dtype: object)
(78, li01_01_base         1054150
rh01_01_base          555388
br01_01_base          523145
ku01_01_base         1177717
ga01_01_base         1271718
base            bw02_02_base
Name: 78, dtype: object)
(79, li01_01_base          988714
rh01_01_base          365946
br01_01_base          461238
ku01_01_base          988275
ga01_01_base         1082276
base            bw03_01_base
Name: 79, dtype: object)
(80, li01_01_base          993117
rh01_01_base          370349
br01_01_base          511230
ku01_01_base          992678
ga01_01_base         1086679
base            bw03_02_base
Name: 80, dtype: object)
(81, li01_01_base         1030372
rh01_01_base          407604
br01_01_base          537361
ku01_01_base         1029933
ga01_01_base         1123934
base            bw03_03_base
Name: 81, dtype: object)
(82, li01_01_base         1041673
rh01_01_base          418905
br01_01_base          595207
ku01_01_base         1041234
ga01_01_base         1135235
base            ew07_04_base
Name: 82, dtype: object)
(83, li01_01_base          989153
rh01_01_base          366385
br01_01_base          463484
ku01_01_base          988714
ga01_01_base         1082715
base            rh12_02_base
Name: 83, dtype: object)
(84, li01_01_base          894067
rh01_01_base          297658
br01_01_base         1123556
ku01_01_base          326969
ga01_01_base         1042150
base            bw05_01_base
Name: 84, dtype: object)
(85, li01_01_base          926901
rh01_01_base          264548
br01_01_base         1090446
ku01_01_base          359803
ga01_01_base         1074984
base            bw05_02_base
Name: 85, dtype: object)
(86, li01_01_base         1056072
rh01_01_base          398283
br01_01_base         1224181
ku01_01_base          488974
ga01_01_base         1204155
base            bw05_03_base
Name: 86, dtype: object)
(87, li01_01_base          959058
rh01_01_base          431847
br01_01_base         1257745
ku01_01_base          391960
ga01_01_base         1107141
base            ew12_01_base
Name: 87, dtype: object)
(88, li01_01_base          994467
rh01_01_base          359978
br01_01_base         1185876
ku01_01_base          427369
ga01_01_base         1142550
base            ew63_01_base
Name: 88, dtype: object)
(89, li01_01_base         1201248
rh01_01_base          613126
br01_01_base         1255412
ku01_01_base          634150
ga01_01_base         1349331
base            ga09_01_base
Name: 89, dtype: object)
(90, li01_01_base         1205455
rh01_01_base          624301
br01_01_base         1261583
ku01_01_base          638357
ga01_01_base         1353538
base            bw06_01_base
Name: 90, dtype: object)
(91, li01_01_base         1118572
rh01_01_base          489408
br01_01_base         1315306
ku01_01_base          551474
ga01_01_base         1266655
base            bw06_02_base
Name: 91, dtype: object)
(92, li01_01_base         1144176
rh01_01_base          564304
br01_01_base         1358722
ku01_01_base          577078
ga01_01_base         1292259
base            ku08_01_base
Name: 92, dtype: object)
(93, li01_01_base          985220
rh01_01_base          518095
br01_01_base         1339016
ku01_01_base          418122
ga01_01_base         1133303
base            bw07_01_base
Name: 93, dtype: object)
(94, li01_01_base          907388
rh01_01_base          468728
br01_01_base         1261184
ku01_01_base          340290
ga01_01_base         1055471
base            bw07_02_base
Name: 94, dtype: object)
(95, li01_01_base          933358
rh01_01_base          986630
br01_01_base          640969
ku01_01_base          368551
ga01_01_base          570606
base            bw08_01_base
Name: 95, dtype: object)
(96, li01_01_base          831843
rh01_01_base         1132938
br01_01_base          539454
ku01_01_base          514859
ga01_01_base          430877
base            bw08_02_base
Name: 96, dtype: object)
(97, li01_01_base          966481
rh01_01_base         1026723
br01_01_base          674092
ku01_01_base          408644
ga01_01_base          530769
base            bw08_03_base
Name: 97, dtype: object)

Name: 405, dtype: object)
(406, li01_01_base          182343
rh01_01_base          828020
br01_01_base          789673
ku01_01_base          444941
ga01_01_base         1234226
base            li10_05_base
Name: 406, dtype: object)
(407, li01_01_base          389957
rh01_01_base         1035634
br01_01_base          997287
ku01_01_base          709822
ga01_01_base         1499107
base            li10_03_base
Name: 407, dtype: object)
(408, li01_01_base          392042
rh01_01_base         1037719
br01_01_base          999372
ku01_01_base          720080
ga01_01_base         1509365
base            li10_04_base
Name: 408, dtype: object)
(409, li01_01_base          178730
rh01_01_base          824407
br01_01_base          786060
ku01_01_base          416255
ga01_01_base         1205540
base            li03_01_base
Name: 409, dtype: object)
(410, li01_01_base          191175
rh01_01_base          836852
br01_01_base          792413
ku01_01_base          493834
ga01_01_base         1283119
base            li03_03_base
Name: 410, dtype: object)
(411, li01_01_base          199356
rh01_01_base          845033
br01_01_base          764842
ku01_01_base          374875
ga01_01_base         1164160
base            li03_02_base
Name: 411, dtype: object)
(412, li01_01_base          157929
rh01_01_base          803606
br01_01_base          727460
ku01_01_base          418491
ga01_01_base         1207776
base            li03_04_base
Name: 412, dtype: object)
(413, li01_01_base          223662
rh01_01_base          512103
br01_01_base          751992
ku01_01_base          714716
ga01_01_base         1397330
base            li04_01_base
Name: 413, dtype: object)
(414, li01_01_base             382159
rh01_01_base             487712
br01_01_base             910489
ku01_01_base             873213
ga01_01_base            1519943
base            li01_hgn01_base
Name: 414, dtype: object)
(415, li01_01_base          228433
rh01_01_base          507421
br01_01_base          756763
ku01_01_base          719487
ga01_01_base         1402101
base            li04_02_base
Name: 415, dtype: object)
(416, li01_01_base          224087
rh01_01_base          503214
br01_01_base          752417
ku01_01_base          715141
ga01_01_base         1397755
base            li04_03_base
Name: 416, dtype: object)
(417, li01_01_base          266173
rh01_01_base          546379
br01_01_base          794503
ku01_01_base          757227
ga01_01_base         1439841
base            li13_03_base
Name: 417, dtype: object)
(418, li01_01_base          289972
rh01_01_base          643891
br01_01_base          801568
ku01_01_base          787363
ga01_01_base         1446906
base            li04_04_base
Name: 418, dtype: object)
(419, li01_01_base          277397
rh01_01_base          501918
br01_01_base          805727
ku01_01_base          768451
ga01_01_base         1451065
base            li04_05_base
Name: 419, dtype: object)
(420, li01_01_base          378407
rh01_01_base          724951
br01_01_base          729697
ku01_01_base          944082
ga01_01_base         1357786
base            bw21_03_base
Name: 420, dtype: object)
(421, li01_01_base          445631
rh01_01_base          950439
br01_01_base          976967
ku01_01_base          936684
ga01_01_base         1622305
base            li05_01_base
Name: 421, dtype: object)
(422, li01_01_base          539709
rh01_01_base          896808
br01_01_base         1071045
ku01_01_base         1030762
ga01_01_base         1716383
base            li13_02_base
Name: 422, dtype: object)
(423, li01_01_base          351663
rh01_01_base          856471
br01_01_base          882999
ku01_01_base          842716
ga01_01_base         1528337
base            li05_02_base
Name: 423, dtype: object)
(424, li01_01_base          246099
rh01_01_base          750907
br01_01_base          777435
ku01_01_base          737152
ga01_01_base         1422773
base            li05_03_base
Name: 424, dtype: object)
(425, li01_01_base          250763
rh01_01_base          755571
br01_01_base          782099
ku01_01_base          741816
ga01_01_base         1427437
base            bw10_05_base
Name: 425, dtype: object)
(426, li01_01_base          493513
rh01_01_base          998321
br01_01_base         1024849
ku01_01_base          984566
ga01_01_base         1670187
base            li05_05_base
Name: 426, dtype: object)
(427, li01_01_base          572520
rh01_01_base          855727
br01_01_base         1103851
ku01_01_base         1063573
ga01_01_base         1749189
base            bw21_02_base
Name: 427, dtype: object)
(428, li01_01_base          480654
rh01_01_base         1121952
br01_01_base          766671
ku01_01_base          800728
ga01_01_base         1336814
base            li08_01_base
Name: 428, dtype: object)
(429, li01_01_base          722636
rh01_01_base         1363934
br01_01_base         1029618
ku01_01_base         1042710
ga01_01_base         1621821
base            li08_03_base
Name: 429, dtype: object)
(430, li01_01_base          726647
rh01_01_base         1367945
br01_01_base          968196
ku01_01_base         1046721
ga01_01_base         1538339
base            li08_04_base
Name: 430, dtype: object)
(431, li01_01_base          616136
rh01_01_base         1257434
br01_01_base          923118
ku01_01_base          936210
ga01_01_base         1556360
base            li07_01_base
Name: 431, dtype: object)
(432, li01_01_base          159844
rh01_01_base          796049
br01_01_base          671440
ku01_01_base          725511
ga01_01_base         1316778
base            li09_01_base
Name: 432, dtype: object)
(433, li01_01_base          195056
rh01_01_base          831261
br01_01_base          706652
ku01_01_base          760723
ga01_01_base         1351990
base            li09_02_base
Name: 433, dtype: object)
(434, li01_01_base          202119
rh01_01_base          838324
br01_01_base          713715
ku01_01_base          767786
ga01_01_base         1359053
base            ga05_02_base
Name: 434, dtype: object)
(435, li01_01_base          157515
rh01_01_base          793720
br01_01_base          669111
ku01_01_base          723182
ga01_01_base         1314449
base            li09_03_base
Name: 435, dtype: object)
(436, li01_01_base          381380
rh01_01_base         1017585
br01_01_base          741599
ku01_01_base          947047
ga01_01_base         1348026
base            li09_04_base
Name: 436, dtype: object)
(437, li01_01_base          276351
rh01_01_base          912556
br01_01_base          716074
ku01_01_base          842018
ga01_01_base         1322501
base            li09_05_base
Name: 437, dtype: object)
(438, li01_01_base          414487
rh01_01_base         1050026
br01_01_base          889799
ku01_01_base          980154
ga01_01_base         1496226
base            li09_06_base
Name: 438, dtype: object)
(439, li01_01_base          201405
rh01_01_base          837610
br01_01_base          713001
ku01_01_base          767072
ga01_01_base         1358339
base            li09_07_base
Name: 439, dtype: object)
(440, li01_01_base          206794
rh01_01_base          842999
br01_01_base          718390
ku01_01_base          772461
ga01_01_base         1363728
base            li09_08_base
Name: 440, dtype: object)
(441, li01_01_base          256561
rh01_01_base          897859
br01_01_base          563543
ku01_01_base          582482
ga01_01_base         1213645
base            li12_01_base
Name: 441, dtype: object)
(442, li01_01_base          303902
rh01_01_base          945200
br01_01_base          610884
ku01_01_base          623976
ga01_01_base         1260986
base            li12_04_base
Name: 442, dtype: object)
(443, li01_01_base          349047
rh01_01_base          990345
br01_01_base          656029
ku01_01_base          636707
ga01_01_base         1306131
base            li12_05_base
Name: 443, dtype: object)
(444, li01_01_base          422603
rh01_01_base         1063901
br01_01_base          686095
ku01_01_base          807603
ga01_01_base         1342299
base            li12_06_base
Name: 444, dtype: object)
(445, li01_01_base          317221
rh01_01_base          958519
br01_01_base          624203
ku01_01_base          590614
ga01_01_base         1274305
base            li12_07_base
Name: 445, dtype: object)
(446, li01_01_base          444774
rh01_01_base          724980
br01_01_base          973104
ku01_01_base          935828
ga01_01_base         1618442
base            li13_01_base
Name: 446, dtype: object)
(447, li01_01_base          294019
rh01_01_base          574225
br01_01_base          822349
ku01_01_base          785073
ga01_01_base         1467687
base            li13_04_base
Name: 447, dtype: object)
(448, li01_01_base          393850
rh01_01_base          731454
br01_01_base          922180
ku01_01_base          884904
ga01_01_base         1567518
base            li13_05_base
Name: 448, dtype: object)
(449, li01_01_base          350164
rh01_01_base          630370
br01_01_base          878494
ku01_01_base          841218
ga01_01_base         1523832
base            li15_01_base
Name: 449, dtype: object)
(450, li01_01_base          538015
rh01_01_base          818221
br01_01_base         1066345
ku01_01_base         1029069
ga01_01_base         1711683
base            li15_03_base
Name: 450, dtype: object)
(451, li01_01_base          397199
rh01_01_base          677405
br01_01_base          925529
ku01_01_base          888253
ga01_01_base         1570867
base            li15_04_base
Name: 451, dtype: object)
(452, li01_01_base          523174
rh01_01_base          803380
br01_01_base         1051504
ku01_01_base         1014228
ga01_01_base         1696842
base            li16_01_base
Name: 452, dtype: object)
(453, li01_01_base          524581
rh01_01_base          804787
br01_01_base         1052911
ku01_01_base         1015635
ga01_01_base         1698249
base            li16_03_base
Name: 453, dtype: object)
(454, li01_01_base         1165519
rh01_01_base          638469
br01_01_base         1464367
ku01_01_base          598421
ga01_01_base         1313602
base            bw01_05_base
Name: 454, dtype: object)
(455, li01_01_base         1147930
rh01_01_base          570260
br01_01_base         1396158
ku01_01_base          580832
ga01_01_base         1296013
base            bw12_01_base
Name: 455, dtype: object)
(456, li01_01_base         1096423
rh01_01_base          584669
br01_01_base         1410567
ku01_01_base          529325
ga01_01_base         1244506
base            bw69_03_base
Name: 456, dtype: object)
(457, li01_01_base         1079155
rh01_01_base          568364
br01_01_base         1394262
ku01_01_base          512057
ga01_01_base         1227238
base            rh10_02_base
Name: 457, dtype: object)
(458, li01_01_base         1053580
rh01_01_base          570857
br01_01_base         1396755
ku01_01_base          486482
ga01_01_base         1201663
base            bw10_04_base
Name: 458, dtype: object)
(459, li01_01_base          550409
rh01_01_base          990130
br01_01_base          986597
ku01_01_base         1085991
ga01_01_base         1539362
base            iw08_01_base
Name: 459, dtype: object)
(460, li01_01_base          478333
rh01_01_base          877285
br01_01_base          992200
ku01_01_base          969387
ga01_01_base         1588941
base            bw58_01_base
Name: 460, dtype: object)
(461, li01_01_base          637078
rh01_01_base          856373
br01_01_base         1165408
ku01_01_base          959465
ga01_01_base         1748750
base            li18_02_base
Name: 461, dtype: object)
(462, li01_01_base          620575
rh01_01_base          627548
br01_01_base         1148905
ku01_01_base          933226
ga01_01_base         1648407
base            rh05_03_base
Name: 462, dtype: object)
(463, li01_01_base          477210
rh01_01_base          716826
br01_01_base         1005540
ku01_01_base          799597
ga01_01_base         1588882
base            li18_04_base
Name: 463, dtype: object)
(464, li01_01_base          560424
rh01_01_base          740184
br01_01_base         1088754
ku01_01_base         1036619
ga01_01_base         1734092
base            li16_02_base
Name: 464, dtype: object)
(465, li01_01_base          807380
rh01_01_base          579577
br01_01_base         1318976
ku01_01_base         1067084
ga01_01_base         1646232
base            no01_01_base
Name: 465, dtype: object)
(466, li01_01_base          730263
rh01_01_base           15717
br01_01_base          837597
ku01_01_base          630565
ga01_01_base         1147397
base            rh01_02_base
Name: 466, dtype: object)
(467, li01_01_base          731488
rh01_01_base           16142
br01_01_base          838779
ku01_01_base          630219
ga01_01_base         1148579
base            rh02_02_base
Name: 467, dtype: object)
(468, li01_01_base          735474
rh01_01_base           16989
br01_01_base          841794
ku01_01_base          629298
ga01_01_base         1151594
base            rh01_03_base
Name: 468, dtype: object)
(469, li01_01_base          721146
rh01_01_base           95396
br01_01_base          731906
ku01_01_base          717723
ga01_01_base         1041706
base            rh01_04_base
Name: 469, dtype: object)
(470, li01_01_base          665854
rh01_01_base           66205
br01_01_base          784755
ku01_01_base          684715
ga01_01_base         1094555
base            rh01_05_base
Name: 470, dtype: object)
(471, li01_01_base          665769
rh01_01_base           62255
br01_01_base          788415
ku01_01_base          680765
ga01_01_base         1098215
base            rh01_06_base
Name: 471, dtype: object)
(472, li01_01_base          717753
rh01_01_base           95046
br01_01_base          735695
ku01_01_base          717373
ga01_01_base         1045495
base            rh01_07_base
Name: 472, dtype: object)
(473, li01_01_base          761645
rh01_01_base           56239
br01_01_base          776329
ku01_01_base          678569
ga01_01_base         1086129
base            rh11_01_base
Name: 473, dtype: object)
(474, li01_01_base          797468
rh01_01_base          192490
br01_01_base          856176
ku01_01_base          811000
ga01_01_base         1165976
base            rh01_08_base
Name: 474, dtype: object)
(475, li01_01_base          765735
rh01_01_base           51400
br01_01_base          780419
ku01_01_base          673730
ga01_01_base         1090219
base            rh01_09_base
Name: 475, dtype: object)
(476, li01_01_base          825901
rh01_01_base          157836
br01_01_base          840585
ku01_01_base          780168
ga01_01_base         1150385
base            rh01_10_base
Name: 476, dtype: object)
(477, li01_01_base          511040
rh01_01_base          225265
br01_01_base          947696
ku01_01_base          843770
ga01_01_base         1257496
base            rh02_01_base
Name: 477, dtype: object)
(478, li01_01_base           569819
rh01_01_base           428237
br01_01_base          1098149
ku01_01_base          1046742
ga01_01_base          1460468
base            st03b_01_base
Name: 478, dtype: object)
(479, li01_01_base          773456
rh01_01_base          346744
br01_01_base         1067340
ku01_01_base          965249
ga01_01_base         1116300
base            rh02_03_base
Name: 479, dtype: object)
(480, li01_01_base          455728
rh01_01_base          272562
br01_01_base          984058
ku01_01_base          891067
ga01_01_base         1304793
base            br09_02_base
Name: 480, dtype: object)
(481, li01_01_base          550390
rh01_01_base          178169
br01_01_base          900600
ku01_01_base          796674
ga01_01_base         1210400
base            rh02_04_base
Name: 481, dtype: object)
(482, li01_01_base          509380
rh01_01_base          221951
br01_01_base          944382
ku01_01_base          840456
ga01_01_base         1254182
base            rh02_05_base
Name: 482, dtype: object)
(483, li01_01_base          598891
rh01_01_base          128444
br01_01_base          850875
ku01_01_base          746949
ga01_01_base         1160675
base            rh02_06_base
Name: 483, dtype: object)
(484, li01_01_base          831486
rh01_01_base          208718
br01_01_base          622987
ku01_01_base          831047
ga01_01_base          930115
base            rh03_01_base
Name: 484, dtype: object)
(485, li01_01_base          892048
rh01_01_base          269280
br01_01_base          679827
ku01_01_base          891609
ga01_01_base          993651
base            rh03_02_base
Name: 485, dtype: object)
(486, li01_01_base          882595
rh01_01_base          259827
br01_01_base          571578
ku01_01_base          882156
ga01_01_base          976157
base            rh03_03_base
Name: 486, dtype: object)
(487, li01_01_base          925781
rh01_01_base          303013
br01_01_base          524078
ku01_01_base          925342
ga01_01_base         1019343
base            rh03_04_base
Name: 487, dtype: object)
(488, li01_01_base          858597
rh01_01_base          235829
br01_01_base          650277
ku01_01_base          858158
ga01_01_base          964103
base            rh05_05_base
Name: 488, dtype: object)
(489, li01_01_base          840529
rh01_01_base          217761
br01_01_base          635615
ku01_01_base          840090
ga01_01_base          947840
base            iw13_01_base
Name: 489, dtype: object)
(490, li01_01_base          932315
rh01_01_base          309547
br01_01_base          770036
ku01_01_base          931876
ga01_01_base         1079836
base            ew19_01_base
Name: 490, dtype: object)
(491, li01_01_base         1109112
rh01_01_base          486344
br01_01_base          722436
ku01_01_base         1108673
ga01_01_base         1202674
base            bw15_03_base
Name: 491, dtype: object)
(492, li01_01_base          903190
rh01_01_base          180779
br01_01_base         1006677
ku01_01_base          491377
ga01_01_base         1206558
base            rh04_01_base
Name: 492, dtype: object)
(493, li01_01_base          876312
rh01_01_base          153901
br01_01_base          979799
ku01_01_base          471542
ga01_01_base         1186723
base            rh04_02_base
Name: 493, dtype: object)
(494, li01_01_base          828900
rh01_01_base          106489
br01_01_base          932387
ku01_01_base          517939
ga01_01_base         1233120
base            rh04_03_base
Name: 494, dtype: object)
(495, li01_01_base          927715
rh01_01_base          205304
br01_01_base         1031202
ku01_01_base          417947
ga01_01_base         1133128
base            rh04_04_base
Name: 495, dtype: object)
(496, li01_01_base         1036090
rh01_01_base          313679
br01_01_base         1139577
ku01_01_base          502337
ga01_01_base         1217518
base            rh04_05_base
Name: 496, dtype: object)
(497, li01_01_base          890341
rh01_01_base          355226
br01_01_base         1181124
ku01_01_base          639292
ga01_01_base         1354473
base            rh04_07_base
Name: 497, dtype: object)
(498, li01_01_base          924057
rh01_01_base          201646
br01_01_base         1027544
ku01_01_base          518624
ga01_01_base         1233805
base            rh03_05_base
Name: 498, dtype: object)
(499, li01_01_base          890008
rh01_01_base          167597
br01_01_base          993495
ku01_01_base          481688
ga01_01_base         1196869
base            bw11_01_base
Name: 499, dtype: object)
(500, li01_01_base         1005790
rh01_01_base          317599
br01_01_base          873376
ku01_01_base          939925
ga01_01_base         1108421
base            rh05_01_base
Name: 500, dtype: object)
(501, li01_01_base          861656
rh01_01_base          151878
br01_01_base          876343
ku01_01_base          774204
ga01_01_base         1186143
base            rh05_02_base
Name: 501, dtype: object)
(502, li01_01_base          883883
rh01_01_base          196389
br01_01_base          898567
ku01_01_base          818719
ga01_01_base         1095653

In [149]:
b =[i['time'].tolist() for i in k]
b.append(k[0]['end'].tolist())

In [190]:
for i in g:
    print(i)

In [158]:
b =[i['time'].tolist() for i in k]
b.append(k[0]['end'].tolist())

b=np.array(b)

b.T

array([['613767', '822295', '8396', '930644', '971716', 'br01_04_base'],
       ['547640', '814798', '68277', '911424', '952496', 'br01_05_base'],
       ['611624', '830470', '7046', '920594', '961666', 'br01_06_base'],
       ...,
       ['1063804', '1060542', '1592134', '1138015', '1475946',
        'st39_02_base'],
       ['1238729', '1235467', '1767059', '1312940', '1650871',
        'st39_03_base'],
       ['1056118', '1052856', '1584448', '1130329', '1468260',
        'st39_04_base']], dtype='<U21')

In [159]:
k

[               start           end     time
 217669  li01_01_base  br01_04_base   613767
 217670  li01_01_base  br01_05_base   547640
 217671  li01_01_base  br01_06_base   611624
 217672  li01_01_base  br01_07_base   544251
 217673  li01_01_base  br01_08_base   684300
 ...              ...           ...      ...
 218224  li01_01_base  st08_02_base   914687
 218225  li01_01_base  st39_01_base  1139393
 218226  li01_01_base  st39_02_base  1063804
 218227  li01_01_base  st39_03_base  1238729
 218228  li01_01_base  st39_04_base  1056118

 [549 rows x 3 columns],                start           end     time
 267598  rh01_01_base  br01_04_base   822295
 267599  rh01_01_base  br01_05_base   814798
 267600  rh01_01_base  br01_06_base   830470
 267601  rh01_01_base  br01_07_base   821598
 267602  rh01_01_base  br01_08_base   959215
 ...              ...           ...      ...
 268153  rh01_01_base  st08_02_base   911425
 268154  rh01_01_base  st39_01_base  1136131
 268155  rh01_01_base  st39_02_base  1060542
 268156  rh01_01_base  st39_03_base  1235467
 268157  rh01_01_base  st39_04_base  1052856

 [549 rows x 3 columns],             start           end     time
 1    br01_01_base  br01_04_base     8396
 2    br01_01_base  br01_05_base    68277
 3    br01_01_base  br01_06_base     7046
 4    br01_01_base  br01_07_base    72373
 5    br01_01_base  br01_08_base   153287
 ..            ...           ...      ...
 556  br01_01_base  st08_02_base  1443017
 557  br01_01_base  st39_01_base  1667723
 558  br01_01_base  st39_02_base  1592134
 559  br01_01_base  st39_03_base  1767059
 560  br01_01_base  st39_04_base  1584448

 [549 rows x 3 columns],                start           end     time
 181765  ku01_01_base  br01_04_base   930644
 181766  ku01_01_base  br01_05_base   911424
 181767  ku01_01_base  br01_06_base   920594
 181768  ku01_01_base  br01_07_base   906599
 181769  ku01_01_base  br01_08_base   909321
 ...              ...           ...      ...
 182320  ku01_01_base  st08_02_base   988326
 182321  ku01_01_base  st39_01_base  1213604
 182322  ku01_01_base  st39_02_base  1138015
 182323  ku01_01_base  st39_03_base  1312940
 182324  ku01_01_base  st39_04_base  1130329

 [549 rows x 3 columns],                start           end     time
 110518  ga01_01_base  br01_04_base   971716
 110519  ga01_01_base  br01_05_base   952496
 110520  ga01_01_base  br01_06_base   961666
 110521  ga01_01_base  br01_07_base   947671
 110522  ga01_01_base  br01_08_base   950393
 ...              ...           ...      ...
 111073  ga01_01_base  st08_02_base  1326257
 111074  ga01_01_base  st39_01_base  1551535
 111075  ga01_01_base  st39_02_base  1475946
 111076  ga01_01_base  st39_03_base  1650871
 111077  ga01_01_base  st39_04_base  1468260

 [549 rows x 3 columns]]

In [94]:
distances_comb = k[0][['end', 'time']].rename_axis('time', list_of_bases[0])

TypeError: rename_axis() takes from 1 to 2 positional arguments but 3 were given

In [82]:
from sklearn.cluster import KMeans

In [90]:
k[4][distances['end'] !=any(list_of_bases)]

/home/robert/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

               start           end     time
110518  ga01_01_base  br01_04_base   971716
110519  ga01_01_base  br01_05_base   952496
110520  ga01_01_base  br01_06_base   961666
110521  ga01_01_base  br01_07_base   947671
110522  ga01_01_base  br01_08_base   950393
...              ...           ...      ...
111073  ga01_01_base  st08_02_base  1326257
111074  ga01_01_base  st39_01_base  1551535
111075  ga01_01_base  st39_02_base  1475946
111076  ga01_01_base  st39_03_base  1650871
111077  ga01_01_base  st39_04_base  1468260

[549 rows x 3 columns]

In [58]:
food = ['commodity_food,',
'commodity_food_br,',
'commodity_food_ga,',
'commodity_luxury_food,',
'commodity_rice,',
'commodity_gaianlife,',
'commodity_synthpaste,',]

In [14]:
len(bases)

604

In [15]:
distances

              start           end    time
1      li01_11_base  li01_01_base   57793
2      li01_11_base  li01_03_base   60731
3      li01_11_base  li01_09_base  106869
4      li01_11_base  li01_12_base  180401
5      li01_11_base  li01_10_base  126973
...             ...           ...     ...
27882  ew06_02_base  ew04_01_base  275520
27883  ew06_02_base  hi01_01_base  502934
27884  ew06_02_base  hi02_01_base  273235
27885  ew06_02_base  hi02_02_base  322338
27887  ew06_02_base  ew06_01_base   96435

[27390 rows x 3 columns]

In [20]:
k[1]

              start           end    time
14863  rh01_01_base  li01_11_base  646454
14864  rh01_01_base  li01_01_base  698582
14865  rh01_01_base  li01_03_base  587719
14866  rh01_01_base  li01_09_base  651402
14867  rh01_01_base  li01_12_base  651348
...             ...           ...     ...
15024  rh01_01_base  hi01_01_base  675462
15025  rh01_01_base  hi02_01_base  742449
15026  rh01_01_base  hi02_02_base  704018
15028  rh01_01_base  ew06_01_base  772501
15029  rh01_01_base  ew06_02_base  770505

[165 rows x 3 columns]

In [22]:
len(bases)

604

In [28]:
distances = pd.read_csv(distances_path, names = ['start', 'end', 'time'])
#     distances = distances[distances['start']!=distances['end']]
#     distances = distances[distances['time']!=-1]

In [29]:
distances

              start           end    time
0      li01_11_base  li01_11_base       0
1      li01_11_base  li01_01_base   57793
2      li01_11_base  li01_03_base   60731
3      li01_11_base  li01_09_base  106869
4      li01_11_base  li01_12_base  180401
...             ...           ...     ...
27884  ew06_02_base  hi02_01_base  273235
27885  ew06_02_base  hi02_02_base  322338
27886  ew06_02_base  st01_01_base      -1
27887  ew06_02_base  ew06_01_base   96435
27888  ew06_02_base  ew06_02_base       0

[27889 rows x 3 columns]

In [30]:
604*604

364816